extends layout


block content
  .alert.alert-danger.alert-dismissable.fade.show
    a.close(href='#' data-dismiss='alert' aria-label='close') &times;
    strong #{error}: 
    | El Código de Usuario:  
    strong #{codigo}
    |  #{mensaje}