extends layout
block content
    app-funcionamiento
        block scripts
            script(src='/build/runtime.e227d1a0e31cbccbf8ec.js')
            script(src='/build/main.c4d5921d05c9352344f3.js')
            script(src='/build/polyfills.a4021de53358bb0fec14.js')


    