extends layout

block content
    br
    br
    br
    h1(style="text-align:center")=title
    h2(style="text-align:center")=mensaje
    
    br
    br
    br
    .row
        .col-md-2.form-group(style="float:left; ")
          img(src="/images/add.svg", alt="phone", width="250%")
        .col-md-2
        .col-md-8
            .card
                .card-body
                    form(action='' method='post' role='form')
                        .row
                            .col
                                .form-group
                                    label(for='label') Objeto
                                    input#label.form-control(type='text' name='label' placeholder='Ingrese el nombre del objeto')
                            .col
                                .form-group
                                    label(for='sound') Agregar Sonido
                                    input(class="inputfile" type='file' id="sound" name='sound')
                                    label.form-control.btn-outlined(for='sound' id="soundLabel" ) Seleccionar Sonido
                                    //input(type='button' id="browser" value='Agregar Sonido' onclick='browse.click()')
                                    //input.btn.btn-primary.form-group(style=" margin-bottom: 0; background-color: white; color: gray;   border:1px solid gray;" type="file" name="archivo")                               

                                    //button.form-control.btn-outlined(id="browser" onclick='browse.click()') Ingrese el sonido
                                    //input#sound.form-control.btn-outlined(type='file' name='sound' value='Agregar Sonido')
                                    
                        .text-center
                            button.btn.btn-primary.text-center(type='submit') Crear Objeto