extends layout

block content
    
    article
        h1(style="text-align:center; margin-top:20px ")=title
        .info.text-center
           canvas(id="myCanvas" width="1280" height="720" style="border:1px solid #000000;")               