
body {
  padding: 50px;
  font-size: 14px;
}

a {
  color: #01197C;
}
.btn-outline-primary:hover{
  color: #fff;
  background-color:  #01197C;
  border-color:  #01197C; /*set the color you want here*/
}
h1{
  color: #01197C;
}
td, th{
  color: #01197C;
}
canvas{
  margin-top: 20px;
  
  border:10px solid #01197C;
  text-align: center;

}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  display: inline-block;
  cursor: pointer;
}

label span.error{
  color:red;
}

.camera{
  margin-top: 40px;
  position: relative;
}
.botonCamara{
  position: absolute;
  width: 50px;
  height: 50px;
  left: calc(50%-25px);
  bottom: 40px;
}
.botonCamaraInt{
  position: absolute;
  width: 40px;
  height: 40px;
  left: calc(50%-20px);
  bottom: 45px;
  pointer-events: none;  

}
.output {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.815);
  text-align: center;
  z-index: 9999;
}
.video_canvas {
  margin-top: 175px;
}
.botonModal {
  margin-top: 165px;
  position: absolute;
  width:30px;
  height: 30px;
  right: calc(50% - 360px);
  top: 20px;

}
#output .label{
  margin-top: 165px;
  position: absolute;
  width:300px;
  height: 50px;
  right: calc(50% - 150px);
  top: 20px;
  font-weight: 700;
  color: white;
  text-shadow: 2px 2px  #01197C;
  
}
